#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@ --buildsystem=cmake

# they need stuff downloaded from internet, converted into an autopkgtest instead
override_dh_auto_test:

override_dh_auto_configure:
	dh_auto_configure -- -DJSON_MultipleHeaders=ON -DCMAKE_INSTALL_LIBDIR=lib
